//navbar

$navbar-default-color:             #777 ;
$navbar-default-bg:                #f8f8f8 ;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) ;

//content

$content-body-vertical-padding:  50px;
